<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
        <a href="https://www.ucl.ac.uk/information-studies"> 
         <span>UCL Dept of Information Studies</span> 
        </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
           <li class="p-name">{{ '2024' | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li class="p-name">{{ 'IAS Octagon Small Grants Fund' | escape }}</li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
